<h1>Make Changes to Your Trip!</h1>

<form action="/trips" method="POST">
  Trip Name: <input type="text" name="name" id="trip_name" value="<%=@trip.name%>"></input>
  <br></br>
  Budget: <input type="text" name="budget" id="trip_budget" value="<%=@trip.budget%>"></input>
  <br></br>
  Number of Travelers: <input type="text" name="travelers" id="trip_travelers" value="<%=@trip.travelers%>"></input>

  <input type="submit" value="Update Trip">
</form>
