<a href="/home">Home</a>
<br></br>
<br></br>

<h1><%=@user.username%>'s Planned Trips</h1>
<br></br>
<ul>
  <%if !@user.trips.empty?%>
<%@user.trips.each do |trip|%>
<h3><li><a href="/trips/<%=trip.id%>"><%=trip.name%></a></li></h3>
<%end%>
</ul>
  <%else%>
  You have no trips planned!
  <br></br>
  <h3><a href="/trips/new">Start Planning!</a></h3>
  <%end%>
<br></br>
<br></br>
