<h1>Add Flight Information to your Plan</h1>

<form action="/trips" method="POST">
  Departure City: <input type="text" name="departure" id="dep"></input>
  <br></br>
  Arrival City: <input type="text" name="arrival" id="arr"></input>
  <br></br>
  Date: <input type="text" name="date" id="date"></input>
  <br></br>
  <input type="submit" value="Add Flight">
</form>
